body {
    background-color: rgb(219, 228, 136);
}

.duy {
    color: blue;
    height: 380px;
    width: 400px;
}

.checked {
    color: orange;
}

.yud {
    text-align: center;
}

.yud .li {
    text-align: center;
}

.hi {

    text-align: center;
}

.fs {
    font-size: 20px;
    list-style: none;
    font-family: "Roboto" sans-serif;
    font-weight: bold;
    color: orange;
}

