body {
    background-color: rgb(219, 228, 136);
}

.bdy {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    background: #fff;
    margin: 50px;
    border-left: 50px solid #fff;
}

.duy {
    color: blue;
    height: 380px;
    width: 400px;
}

.checked {
    color: orange;
}

.yud {
    text-align: center;
}

.yud .li {
    text-align: center;
}

.hi {

    text-align: center;
}

.fs {
    font-size: 20px;
    list-style: none;
    font-family: "Roboto" sans-serif;
    font-weight: bold;
    color: orange;
}

.detail {
    padding: 5px;
}

.name {
    text-align: center;
}

